@use './variables' as v;
@use './mixins' as m;

main {
  justify-content: center;
}

#forecast {
  height: 100vh;
  position: relative;

  #link-homepage {
    position: absolute;
    top: 3%;
    left: 6%;

    justify-content: center;

    svg {
      fill: v.$white !important;
      fill-opacity: 0.9;
      height: 1.5rem !important;
      width: 1.5rem !important;
    }
  }

  grid-template-areas:
    'hero'
    'carrousel'
    'tiles';
}

// hero section
#hero {
  padding-block-start: 6rem;
  align-items: center;
  text-align: center;
  color: v.$text-color;
  grid-area: hero;

  // Move backdrop-filter to a pseudo-element
  // to prevent it from affecting sibling components
  @media screen and (max-width: calc(v.$landscape-breakpoint - 1px)) {
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      backdrop-filter: blur(1px) brightness(50%);
      background-color: transparent;
      z-index: -1;
    }
  }

  #degree {
    font-size: 6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 4.375rem;
    letter-spacing: 0.02338rem;
    margin-block: 0.75rem;
    position: relative;

    sup {
      font-size: 3rem;
      position: absolute;
      top: -30px;
    }
  }

  #lowhigh-container > * {
    display: inline-block;
  }

  p {
    font-weight: 600;
    line-height: 1.5rem;
    letter-spacing: 0.02375rem;
  }

  #description {
    text-transform: uppercase;
    margin-block-start: 0.5rem;
    font-weight: 400;
    font-size: 0.9rem;
    opacity: 0.8;
  }

  img {
    width: 90%;
    margin-block-start: -15%;
    z-index: -1;
    filter: brightness(70%);
    opacity: 0.5;
  }
}

#hero-heading {
  max-width: 80%;
  font-size: 2.125rem;
  font-weight: 400;
  line-height: 2.5625rem; /* 120.588% */
  letter-spacing: 0.02338rem;
}

#carrousel {
  align-items: center;
  min-height: 150px;
  padding: 0 0.9rem 0.625rem;
  margin-block-start: -140px;
  overflow-x: scroll;
  overflow-y: hidden;
  cursor: pointer;
  background-color: v.$dark-bg;
  color: v.$white;
  border-radius: 30px 30px 0 0;
  border-top: 1px solid #814bff8c;
  grid-area: carrousel;
  @include m.shadow-violet;

  // Hour in figma
  .item {
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: fit-content;
    margin-inline: 0.75rem;
    margin-block-start: 0.625rem;
    padding-block: 1rem 0.5rem;
    border-radius: 30px;
    background-color: #211b37;
    box-shadow: 0px 2px 3px 0px rgb(58 74 185 / 55%) inset;

    &#current {
      @include m.temp-gradient;
    }

    p {
      font-weight: 600;
    }

    span {
      font-weight: 400;
    }
  }
}

#tiles {
  padding: 1.25rem;
  justify-content: space-evenly;
  grid-template-columns: repeat(2, minmax(145px, 1fr));
  grid-auto-rows: v.$row-height-mobile;
  grid-template-areas:
    'sunlight pressure'
    'humidity visibility'
    'wind feels_like';
  grid-row-gap: v.$grid-row-gap-mobile;
  grid-column-gap: v.$grid-col-gap-mobile;
  grid-area: tiles;
  @include m.tiles-gradient;
}

.tile {
  background-color: v.$tile-bg;
  border: 1px solid v.$tile-border;
  border-radius: 25px;
  padding: 1.25rem;
  color: v.$text-color;
  height: 100%;

  p {
    font-size: 0.8rem;
  }

  .tile-large-text {
    font-size: 1.6rem;
    margin-bottom: auto;
  }
}

.tile-header {
  align-items: center;
  text-transform: uppercase;
  color: v.$grey;
  font-weight: 500;
  font-size: 0.9rem;
  margin-block-end: 0.25rem;
}

#tile-sunlight {
  grid-area: sunlight;
  background-image: url('../../src/assets/sun_bg_line.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 110%;
  background-blend-mode: overlay;
}

#tile-pressure {
  grid-area: pressure;
}

#tile-humidity {
  grid-area: humidity;
}

#tile-visibility {
  grid-area: visibility;
}

#tile-wind {
  grid-area: wind;
}

#tile-feels {
  grid-area: feels_like;
  justify-content: space-between;
}

#feels-like {
  font-size: 4rem;
}

// ======= MEDIA QUERIES =======

// Mobile landscape
@media screen and (orientation: landscape) {
  #forecast {
    grid-template-areas:
      'hero carrousel'
      'tiles tiles';
    grid-template-columns: repeat(auto-fit, 50%);
    grid-template-rows: 350px 1fr;
    padding-block-start: 3rem;

    #link-homepage {
      left: 2%;
    }
  }

  #hero {
    padding-block-start: 0;
    align-self: start;

    #hero-heading {
      font-size: 1.75rem;
    }

    img {
      width: 50%;
      margin-block-start: -10%;
      margin-inline-start: -50%;
    }
  }

  #carrousel {
    align-self: stretch;
    align-items: stretch;
    max-height: 70%;
    width: 300px;
    border-radius: 30px;
    margin-block-start: 0;
    flex-direction: column;
    overflow-y: scroll;

    .item {
      width: auto;
      height: 50px;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      padding: 0 2rem;
      margin-block-start: 0.8rem;

      img {
        margin-inline-start: auto;
        max-height: 50px;
      }
    }
  }

  #tiles {
    justify-content: space-around;
    grid-template-areas:
      'sunlight pressure humidity'
      'visibility wind feels_like';
    margin-block-start: -4.75rem;
    padding-block: 2rem;
    border-top: 1px solid rgb(129 75 255 / 27%);
    grid-row-gap: v.$grid-row-gap-mobile;
    grid-column-gap: v.$grid-col-gap-mobile;
  }
}

@media screen and (min-width: v.$tablet-breakpoint-sm) {
  #carrousel {
    min-height: 170px;

    .item {
      margin-inline: 0.9rem;
    }
  }

  #hero img {
    width: 70%;
  }

  #tiles {
    grid-template-columns: repeat(3, minmax(140px, 190px));
    grid-template-areas:
      'sunlight pressure humidity'
      'visibility wind feels_like';
  }
}

@media screen and (min-width: v.$tablet-breakpoint) and (orientation: portrait) {
  #hero {
    #hero-heading {
      max-width: 60%;
      font-size: 5vw;
    }

    #degree {
      font-size: 15vw;
      line-height: 10vh;
      margin-block: 1.5rem 0;

      sup {
        top: -55px;
      }
    }

    #description {
      font-size: 1.5rem;
      opacity: 1;
    }

    #lowhigh-container > * {
      font-size: 1.5rem;
      font-weight: 400;
    }

    img {
      max-width: 60%;
    }
  }

  #tiles {
    padding: 2rem 1.7rem;
    justify-content: space-between;
    grid-template-columns: repeat(3, 200px);
    grid-auto-rows: v.$row-height-tablet;
    grid-row-gap: v.$grid-row-gap-tablet;
    grid-column-gap: v.$grid-col-gap-tablet;
  }
}

@media screen and (min-width: v.$tablet-breakpoint) and (orientation: landscape) {
  #degree {
    font-size: 10vw;
  }

  #carrousel {
    width: auto;
    margin-inline-end: 3rem;
    // overflow-y: hidden;
  }

  #tiles {
    align-content: center;
    padding: 3rem;
  }

  .tile {
    .tile-header,
    p {
      font-size: 1.1rem;
    }

    .tile-large-text {
      font-size: 2rem;
    }
  }

  #feels-like {
    font-size: 5vw;
  }
}

@media screen and (min-width: v.$landscape-breakpoint) {
  #link-homepage {
    top: 5rem;
    left: 5rem;
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.5);
    }
  }

  #forecast {
    margin: 0 2.5rem 2.5rem 2.5rem;
    grid-template-areas:
      'hero hero'
      'carrousel tiles';
    align-content: start;
    column-gap: v.$grid-col-gap-desktop;
    grid-template-rows: 1fr auto;
    padding-block: 0 5rem;
  }

  #hero {
    padding-block: 1.5rem;

    #degree {
      margin-block-end: 0;
    }

    #description {
      opacity: 1;
    }

    img {
      display: none;
    }
  }

  #carrousel {
    overflow-y: hidden;
    cursor: auto;
    justify-self: end;
    margin-inline-end: 0;
    max-height: 100%;
    max-width: 530px;
    width: 500px;
    border: 1px solid #cab0ffa8;
  }

  #tiles {
    justify-self: start;
    margin-block-start: 0;
    padding: 0;
    background: none;
    border: none;
    align-content: space-between;
    grid-template-columns: repeat(2, minmax(auto, 230px));
    grid-template-areas:
      'sunlight pressure'
      'humidity visibility'
      'wind feels_like';
    grid-auto-rows: v.$row-height-desktop;
    grid-row-gap: v.$grid-row-gap-desktop;

    .tile {
      background: rgb(21, 15, 33);
      background: linear-gradient(
        180deg,
        rgba(21, 15, 33, 1) 0%,
        rgba(21, 15, 33, 0.8337534843038779) 75%
      );
      cursor: pointer;
      transition: transform 0.3s ease-in-out;

      &:hover {
        @include m.shadow-violet;
        transform: scale(1.05);
      }

      .tile-header,
      .tile-large-text {
        margin-block-end: 0;
      }

      .tile-header {
        color: v.$text-color;
        margin-inline-end: 0.75rem;
        font-size: 1.25vw;
      }

      .tile-large-text {
        font-size: 1.8vw;
        margin-block-end: auto;
      }

      p {
        min-width: 158px;
      }
    }
  }
}
