@import './variables.scss';
@import './mixins.scss';

// dimensions
$icon-w: 16px;
$icon-h: 25px;

// grid
$grid-row-gap: 20px;
$grid-col-gap: 20px;
$row-height-mob: 165px;

// colors
$tile-bg: $dark-violet;
$grid-bg: #2D2A56;
$dark-bg: #150F21;
$tile-border: #CAB0FF;
$grey: #A5A6B3;
$text-color: #FFFFFF;

#forecast {
    padding-block-start: 6rem;
    @include dark-blur;
}

// hero section
#hero {
    align-items: center;
    text-align: center;
    color: $text-color;

    #degree {
        font-size: 6rem;
        font-style: normal;
        font-weight: 400;
        line-height: 4.375rem; 
        letter-spacing: 0.02338rem;
        margin-block: 0.75rem;
        position: relative;

        sup { 
            font-size: 3rem;
            position: absolute;
            top: -30px;
        }
    }

    p {
        font-weight: 600;
        line-height: 1.5rem;
        letter-spacing: 0.02375rem;
    }

    #description {
        text-transform: uppercase;
        margin-block-start: 0.5rem;
        font-weight: 400;
        font-size: 0.9rem;
        opacity: 0.8;
    }

    img {
        width: 90%;
        margin-block-start: -15%;
        z-index: -1;
        filter: brightness(70%);
        opacity: 0.5;
    }
}



#hero-heading {
    font-size: 2.125rem;
    font-weight: 400;
    line-height: 2.5625rem; /* 120.588% */
    letter-spacing: 0.02338rem;
}

#carrousel {
    padding-block-end: 0.625rem;
    margin-block-start: -140px;
    overflow-x: scroll;
    cursor: pointer;
    background-color: $dark-bg;
    color: $white;
    border-radius: 30px 30px 0 0;
    border-top: 1px solid #814bff8c;
    box-shadow: 0px -12px 60px 1px rgba(202, 176, 255, 0.4);

    // Hour in figma
    .item {
        flex-shrink: 0;
        align-items: center;
        width: 50px;
        margin-inline: 1rem;
        margin-block-start: 0.625rem;
        padding-block: 1rem 0.5rem;
        border-radius: 30px;
        background-color: #211B37;
        box-shadow: 0px 2px 3px 0px rgb(58 74 185 / 55%) inset;

        &#current {
            @include temp-gradient;
        }

        p { font-weight: 600; }

        span { font-weight: 400; }
    }
}

#tiles {
    height: 100vh;
    padding: 20px;
    grid-template-columns: repeat(2, 160px);
    grid-template-rows: $row-height-mob;
    grid-row-gap: $grid-row-gap;
    grid-column-gap: $grid-col-gap;
    @include tiles-gradient;
}

.tile {
    background-color: $tile-bg;
    border: 1px solid $tile-border;
    border-radius: 25px;
    padding: 1.25rem;

    p {
        color: $text-color;
        font-size: 0.8rem;
    }

    .tile-large-text {
        font-size: 1.6rem;
        margin-bottom: auto;
    }
}

.tile-header {
    text-transform: uppercase;
    color: $grey;
    font-weight: 500;
    font-size: 0.9rem;

    &:before {
        display: inline-block;
        margin-inline-end: 8px;
        content: '';
        width: $icon-w;
        height: $icon-h;
        vertical-align: sub;
    }

    &#sunlight-header {
        background: url('../../src/assets/sunrise.svg') no-repeat;
    }

    &#humidity-header {
        background: url('../../src/assets/humidity.svg') no-repeat;
    }
}

#tile-sunlight {
    background-image: url('../../src/assets/sun_bg_line.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 110%;
    background-blend-mode: overlay;
}