@import './variables.scss';


@mixin scrollbar {
  * {
    scrollbar-width: none;
    scrollbar-color: $violet $white;

    ::-webkit-scrollbar {
        width: 8px;
    }

    ::-webkit-scrollbar-track {
        background: $white;
    }

    ::-webkit-scrollbar-thumb {
        background-color: $violet;
        border-radius: 50px;
        border: 5px solid $white;
    }
  }
}

@mixin body-bg {
    background: url('./assets/bg_scale_864.png'); 
    background-repeat: no-repeat;
    background-position: 50% 35%;

    @media screen and (min-width: $breakpoint-tablet) {
        background: url('./assets/bg_scale_1161.png');
        background-size: cover;
    }

    @media screen and (min-width: $breakpoint-desktop) {
        background: url('./assets/bg_scale_1287.png');
        background-size: cover;
        background-position: center center;
    }
}

@mixin tiles-gradient {
    background: linear-gradient(296deg, #281947, #150f21);
    background-size: 100% 100%;

    -webkit-animation: gradientAnimation 48s ease infinite;
    -moz-animation: gradientAnimation 48s ease infinite;
    animation: gradientAnimation 48s ease infinite;

    @-webkit-keyframes gradientAnimation {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @-moz-keyframes gradientAnimation {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @keyframes gradientAnimation {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
}