@use './variables.scss' as v;

@mixin scrollbar {
  * {
    scrollbar-width: none;

    ::-webkit-scrollbar {
      width: 10px;
    }

    ::-webkit-scrollbar-track {
      background: transparent;
    }

    ::-webkit-scrollbar-thumb {
      background-color: v.$blue-accent;
      border-radius: 50px;
      box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25) inset;
    }
  }
}

@mixin body-bg {
  background: url('./assets/bg_scale_864.jpg');
  background-repeat: no-repeat;
  background-position: 50% 35%;

  @media screen and (min-width: v.$tablet-breakpoint) {
    background: url('./assets/bg_scale_1161.png');
    background-size: cover;
  }

  @media screen and (min-width: v.$desktop-breakpoint) {
    background: url('./assets/bg_scale_1287.png');
    background-size: cover;
    background-position: center center;
  }
}

@mixin temp-gradient {
  background: linear-gradient(
    0deg,
    rgba(33, 27, 55, 1) 0%,
    rgba(92, 63, 153, 0.6250875350140056) 100%
  );
}

@mixin shadow-violet {
  box-shadow: 0px -12px 60px 1px rgba(202, 176, 255, 0.4);
}

@mixin tiles-gradient {
  background: linear-gradient(296deg, #281947, #150f21);
  background-size: 100% 100%;

  -webkit-animation: gradientAnimation 48s ease infinite;
  -moz-animation: gradientAnimation 48s ease infinite;
  animation: gradientAnimation 48s ease infinite;

  @-webkit-keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  @-moz-keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}

@mixin placeholder {
  ::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: v.$white;
  }
  :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: v.$white;
    opacity: 1;
  }
  ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: v.$white;
    opacity: 1;
  }
  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: v.$white;
  }
  ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: v.$white;
  }

  ::placeholder {
    /* Most modern browsers support this now. */
    color: v.$white;
  }
}
