@use './variables.scss' as v;

#link-local-weather {
  margin-block:  1rem;
  padding-block: 1rem;
  border-radius: 15px;
  background-color: v.$dark-blue;
  color: inherit;
  font-family: inherit;
  text-decoration: none;

  button {
    flex: 1;
    background: none;
  }

  &:disabled {
      cursor: not-allowed !important;
      background:#1c1b3385 !important;
      opacity: 0.5 !important;
  }
}

#text-warning {
  border-radius: 15px;
  padding: 0.5rem 1rem;
  font-size: 1.05rem;
  line-height: 1.5;
  text-align: center;
  background:#1c1b3385;
}