// ============================== INDEX ==============================

// colors
$dark-violet: #2e245c;
$white: #ffffff;
$dark-blue: #1c1b33;
$blue-accent: rgba(58, 74, 185, 0.5);
$tile-bg: $dark-violet;
$dark-bg: #150f21;
$tile-border: #cab0ff;
$grey: #dfdfdf;
$text-color: #ffffff;

// responsiveness
$tablet-breakpoint-sm: 550px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;
$landscape-breakpoint: 1024px;

// sizing
$input-height: 3rem;

// ==============================FORECAST==============================

// dimensions
$location-icon-width: 1.875rem;
$location-icon-height: 1.125rem;

// grid
$grid-row-gap-mobile: 1.5rem;
$grid-col-gap-mobile: 1.5rem;
$row-height-mobile: 165px;
$grid-row-gap-tablet: 1.875rem;
$grid-col-gap-tablet: 3.125rem;
$row-height-tablet: 165px;
$grid-row-gap-desktop: 1rem;
$grid-col-gap-desktop: 5%;
$row-height-desktop: 165px;
