@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&family=Rubik:wght@400;500;700&family=Sofia+Sans+Semi+Condensed:wght@300;400;500;800&display=swap');

// ============================== INDEX ==============================

// colors
$dark-violet: #2E245C;
$white: #FFFFFF;
$dark-blue: #1C1B33;
$blue-accent: rgba(58, 74, 185, 0.5);

// text
$font-primary: 'Sofia Sans Semi Condensed', 'Roboto', 'Rubik', sans-serif;

// responsiveness
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

// sizing
$input-height: 3rem;

// ==============================FORECAST==============================

// dimensions
$icon-w: 16px;
$icon-h: 25px;

// grid
$grid-row-gap: 20px;
$grid-col-gap: 20px;
$row-height-mob: 165px;

// colors
$tile-bg: $dark-violet;
$dark-bg: #150F21;
$tile-border: #CAB0FF;
$grey: #A5A6B3;
$text-color: #FFFFFF;