@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&family=Rubik:wght@400;500;700&family=Sofia+Sans+Semi+Condensed:wght@300;400;500;800&display=swap');

// ============================== INDEX ==============================

// colors
$dark-violet: #2e245c;
$white: #ffffff;
$dark-blue: #1c1b33;
$blue-accent: rgba(58, 74, 185, 0.5);

// text
$font-primary: 'Sofia Sans Semi Condensed', 'Roboto', 'Rubik', sans-serif;

// responsiveness
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;
$landscape-breakpoint: 1024px;

// sizing
$input-height: 3rem;

// ==============================FORECAST==============================

// dimensions
$icon-w: 16px;
$icon-h: 25px;

// grid
$grid-row-gap-mobile: 20px;
$grid-col-gap-mobile: 20px;
$row-height-mobile: 165px;
$grid-row-gap-tablet: 30px;
$grid-col-gap-tablet: 30px;
$row-height-tablet: 165px;
$grid-row-gap-tablet: 40px;
$grid-col-gap-tablet: 40px;
$row-height-tablet: 165px;

// colors
$tile-bg: $dark-violet;
$dark-bg: #150f21;
$tile-border: #cab0ff;
$grey: #a5a6b3;
$text-color: #ffffff;
