
@import './styles/reset.css';
@import './styles/variables.scss';
@import './styles/mixins.scss';
@import './styles/forecast.scss';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@include scrollbar;
@include placeholder;

/* some utility classes */
.flex { display: flex; }

.col { flex-direction: column; }

.grid { display: grid; }

body {
  @include body-bg;
}

#svg-icon {
  position: relative;
  height: 0.75rem;
  width:  0.75rem;
}

.visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}

#location-search {
  position: relative;
  margin: 1.25rem;

    input {
      border-radius: 15px 0 0 15px;
      background: linear-gradient(136deg, rgba(46, 51, 90, 0.28) 0%, rgba(28, 27, 51, 0.99) 100%);
      box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25) inset;
      height: $input-height;
      font-size: 0.95rem;
      padding-inline-start: 0.75rem;
      flex: 1;
      color: $white;
    }
    
}

#search-btn {
  position: relative;
  width: 3rem;
  height: 3rem;
  border-radius: 0 15px 15px 0;
  color: $white;
  background-color: $dark-blue;
}

#locations {
  position: absolute;
  top: calc($input-height + 5%);
  width: 100%;
  color: $white;

  * {
    width: 100%;
  }
}

.location-option {
  background: none; 
  padding: 0.5rem 0.75rem;
  border-bottom: 1px solid $white;
  text-align: left;

  &:hover {
    background: linear-gradient(136deg, rgba(46, 51, 90, 0.28) 0%, rgba(28, 27, 51, 0.3) 100%);
  }
}