
@import './styles/reset.css';
@import './styles/variables.scss';
@import './styles/mixins.scss';
@import './styles/forecast.scss';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@include scrollbar;

/* some utility classes */
.flex { display: flex; }

.grid { display: grid; }

body {
  @include body-bg;
}

input {
  height: 3rem;
  font-size: 0.95rem;
  padding-inline-start: 0.5rem;
  flex: 1;
  background-color: #FFF;
  border-radius: 15px 0 0 15px;
  color: $violet;
}

#search-btn {
  position: relative;
  width: 3rem;
  height: 3rem;
  border-radius: 0 15px 15px 0;
  color: #FFF;
  background-color: $violet; 
}

#svg-icon {
  position: relative;
  height: 0.75rem;
  width:  0.75rem;
}

.visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0); 
  white-space: nowrap;
}

/* todo: split into css modules later based on components */

#location-search {
  position: relative;
}

#locations {
  position: absolute;
  top: 3rem;
}

.location-option {
  /* according to color theme in design */
}